<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!showSearchBar">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-item no-lines *ngIf="showSearchBar" class="custom-searchbar">
      <ion-icon color="whiteColor" name="md-arrow-back" item-start (click)="toggleSearchIcon()"></ion-icon>

      <ion-input #searchBar
        placeholder="Name/Service Name/Mobile No."
        *ngIf="showSearchBar"
        [(ngModel)]="searchText"
        (input)="searchData()"
        (ionBlur)="onSearchBlurEvent()"
        class="custom-input"></ion-input>

        <ion-icon item-end color="whiteColor" name="md-close" *ngIf="(searchText != null && searchText.length > 0)" (click)="clearSearchText()"></ion-icon>
    </ion-item>



    <ion-title align-items-center text-center *ngIf="!showSearchBar">CLIENTS</ion-title>

    <ion-buttons right>
      <button ion-button icon-only end *ngIf="!showSearchBar" (click)="toggleSearchIcon()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div text-center *ngIf="showNoTextMsg">
    <p class="txt-bold txt-dark_gray"> No contacts available.</p>
  </div>

  <div text-center *ngIf="clientView">
    <p class="txt-bold txt-dark_gray"> No permission to view clients.</p>
  </div>

  <ion-card *ngFor="let client of mClientList, let i = client">
    <ion-card-content no-padding>
      <ion-row>
        <ion-col col-3 item-start no-margin class="char-name-main no-border-radius center_col" [ngClass]="'text_'+this.appConfig.getfirstLatter(client.name)">
          <h2 text-center text-capitalize class="name-char">
            {{this.appConfig.getfirstLatter(client.name)}}
         </h2>
        </ion-col>
        <ion-col col-8 align-self-center class="padding-left-10 padding-bottom-15">
          <p text-uppercase><b>{{client.name}} <span *ngIf="(client.mobile_no != null && client.mobile_no != '')"> ({{client.mobile_no}}) </span></b></p>
          <p > <span *ngIf="(client.client_type != null && client.client_type != ''&& client.client_type != 'N/A')"> {{client.client_type}}</span></p>
          <p> <span *ngIf="(client.services != null && client.services != ''&& client.services != 'N/A')">{{ client.services }}</span></p>
        </ion-col>
        <ion-col col-1 align-self-start text-right>
        <ion-icon class="row_icon_end" color="black" name="md-more" (click)="presentPopover($event, client)" *ngIf="!NoPermission"></ion-icon>
      </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom (click)="onAddClick()" *ngIf="clientCreate">
    <button ion-fab color="fab_red">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
