page-client {
  .name-char {
    font-size: 30px;
  }

  .row_col_icon_end {
    padding-left: 0;
    padding-right: 0;
  }

  .row_icon_end {
    font-size: 2em;
    margin: 0 auto !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}
