page-login {
    .login-input-margin {
        margin-bottom:10px;
    }
    .logo-img{
      width: 100px;
      height: 100px;
      margin: auto;
      margin-bottom: 15px;
    }

    .login-btn-bg-color{
      background: map-get($colors,btn_blue_color);
    }
    .forget-password {
      padding-top: 5px;
      cursor: pointer;
      &.undeline{
          text-decoration: underline;
      }
    }

}
