page-connection {
  .main_row {
    height: 100%;
  }

  .txt-retry {
    font-size: 12px;
    margin-top: 2px;
  }

  .txt-msg {
    font-size: 12px;
    margin: 15px 0px;
  }

  .icon-wifi {
    font-size: 10rem;
  }
}
