<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>DASHBOARD</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-dashboard">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid no-padding class="grid_section">
    <ion-row>
      <ion-col col-33 text-center class="strong_cyan center_col" (click)="openPage('clients')">
        <div class="img_icon">
          <img src="assets/dash_icon_client.png" />
        </div>
        <p no-margin>
          CLIENTS
        </p>
        <p no-margin class="val_sec">
          {{mCountClients}}
        </p>
      </ion-col>

      <ion-col col-33 text-center class="vivid_blue center_col" (click)="openPage('documents')">
        <div class="img_icon">
          <img src="assets/dash_icon_document.png" />
        </div>
        <p no-margin>
          DOCUMENTS
        </p>
        <p no-margin class="val_sec">
          {{mCountDocuments}}
        </p>
      </ion-col>

      <ion-col col-33 text-center class="dark_purple center_col" (click)="openPage('employees')">
        <div class="img_icon">
          <img src="assets/dash_icon_employee.png" />
        </div>
        <p no-margin>
          EMPLOYEES
        </p>
        <p no-margin class="val_sec">
          {{mCountEmployees}}
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-50 text-center class="dark_yellow center_col" (click)="openPage('open_task')">
        <div class="img_icon">
          <img src="assets/dash_icon_open_task.png" />
        </div>
        <p no-margin>
          OPEN TASK
        </p>
        <p no-margin class="val_sec">
          {{mCountOpenTask}}
        </p>
      </ion-col>

      <ion-col col-50 text-center class="dark_red center_col" (click)="openPage('overdue')">
        <div class="img_icon">
          <img src="assets/dash_icon_overdue.png" />
        </div>
        <p no-margin>
          OVERDUE
        </p>
        <p no-margin class="val_sec">
          {{mCountOverDue}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="task_buttons">
    <ion-row no-padding class="bgGray">
      <ion-col col-80 no-padding>
        <p item-start margin-left class="task_label">TASKS</p>
      </ion-col>

      <ion-col col-20 no-padding>
        <ion-row no-padding radio-group [(ngModel)]="taskListType" (ionChange)="doChangeListType()">
          <ion-col no-padding>
            <ion-item no-lines no-padding class="transparent">
              <ion-label>MY</ion-label>
              <ion-radio item-left value="my" class="radio_mg"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col no-padding>
            <ion-item no-lines no-padding class="transparent">
              <ion-label>ALL</ion-label>
              <ion-radio item-left value="all" class="radio_mg"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-list class="task_list" *ngIf="(taskListType == 'my') && mTaskListMy.length > 0">
      <ion-row align-items-center margin class="list_row" *ngFor="let task of mTaskListMy; let i = index">
        <ion-col col-8 no-padding class="bgWhite">
          <ion-row align-items-center>
            <ion-col col-2 text-center>
              <ion-checkbox color="grayColor" [(ngModel)]="task.isChecked" (click)="openConfirmCheckbox(i)"></ion-checkbox>
            </ion-col>

            <ion-col col-10>
              <p class="row_val txt-bold txt-black">{{task.name}}</p>
              <ion-badge>{{task.assignee}}</ion-badge>
              <p class="row_val txt-dark_gray">{{task.datetime}}</p>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-4 class="center_row">
          <button ion-button icon-only clear color="black" (click)="onTaskEdit(i)">
            <ion-icon name="ios-create-outline"></ion-icon>
          </button>

          <button ion-button icon-only clear color="black" (click)="onTaskDelete(i)">
            <ion-icon name="md-trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list class="task_list" *ngIf="(taskListType == 'all') && mTaskListAll.length > 0">
      <ion-row align-items-center margin class="list_row" *ngFor="let task of mTaskListAll; let i = index">
        <ion-col col-8 no-padding class="bgWhite">
          <ion-row align-items-center>
            <ion-col col-2 text-center>
              <ion-checkbox color="grayColor" [(ngModel)]="task.isChecked" (click)="openConfirmCheckbox(i)"></ion-checkbox>
            </ion-col>

            <ion-col col-10>
              <p class="row_val txt-bold txt-black">{{task.name}}</p>
              <ion-badge>{{task.assignee}}</ion-badge>
              <p class="row_val dark_gray">{{task.datetime}}</p>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-4 class="center_row">
          <button ion-button icon-only clear color="black" (click)="onTaskEdit(i)">
            <ion-icon name="ios-create-outline"></ion-icon>
          </button>

          <button ion-button icon-only clear color="black" (click)="onTaskDelete(i)">
            <ion-icon name="md-trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-list>

    <div padding-left padding-bottom>
      <p no-margin class="text_more" (click)="onClickMore()">
        More
      </p>
    </div>
  </div>

  <ion-fab right bottom (click)="onTaskAdd()">
    <button ion-fab color="fab_red">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
