<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!showSearchBar">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-uppercase text-center>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding #content>

  <ion-item no-padding>
    <ion-label floating>First Name (*)</ion-label>
    <ion-input type="text" [(ngModel)]="employee.first_name"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Last Name (*)</ion-label>
    <ion-input type="text" [(ngModel)]="employee.last_name"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Address Line (*)</ion-label>
    <ion-input type="text" [(ngModel)]="employee.address"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Birth Date</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" max="{{maxDate}}" [(ngModel)]="mBirthdate"></ion-datetime>
  </ion-item>

  <ion-label class="custom-select-lable">Select State (*)</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select State</ion-label>
    <ion-select class="custom-select" [(ngModel)]="employee.state_id" (ionChange)="onStateChange()">
      <ion-option *ngFor="let state of mStateDD" value="{{state.key}}">
        {{state.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-label class="custom-select-lable" *ngIf="isCities">Select City (*)</ion-label>
  <ion-item no-padding *ngIf="isCities">
    <ion-label class="display-none">Select City</ion-label>
    <ion-select class="custom-select" [(ngModel)]="employee.city_id">
      <ion-option *ngFor="let city of mCitiesDD" value="{{city.key}}">
        {{city.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-label class="custom-select-lable">Select Department (*)</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Department</ion-label>
    <ion-select class="custom-select" [(ngModel)]="employee.department_id">
      <ion-option *ngFor="let department of mDepartmentsDD" value="{{department.key}}">
        {{department.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-label class="custom-select-lable">Select Employee Role (*)</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Employee Role</ion-label>
    <ion-select class="custom-select" [(ngModel)]="employee.role_id">
      <ion-option *ngFor="let role of mRoleListDD" value="{{role.key}}">
        {{role.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-label class="custom-select-lable">Select Blood Group (*)</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Blood Group</ion-label>
    <ion-select class="custom-select" [(ngModel)]="employee.blood_group">
      <ion-option *ngFor="let blood of mBloodGroupDD" value="{{blood.key}}">
        {{blood.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Phone No</ion-label>
    <ion-input type="number" pattern="[0-9]*" [(ngModel)]="employee.phone" ></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Salary</ion-label>
    <ion-input type="number" pattern="[0-9]*" [(ngModel)]="employee.salary" ></ion-input>
  </ion-item>

  <ion-item no-padding>
     <ion-label floating>Mobile No (*) </ion-label>
     <ion-input type="number" inputmode="numeric" pattern="[0-9]*" maxlength="10" max="10" [(ngModel)]="employee.mobile"></ion-input>
   </ion-item>
   
  <ion-item no-padding>
    <ion-label floating>Email (*)</ion-label>
    <ion-input type="text" [(ngModel)]="employee.email"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Emergency Contact No</ion-label>
    <ion-input type="text" [(ngModel)]="employee.emergencynumber"></ion-input>
  </ion-item>

  <ion-label class="custom-select-lable">Select Leave Type (*)</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Leave Type</ion-label>
    <ion-select class="custom-select" [(ngModel)]="employee.leave_type_id">
      <ion-option *ngFor="let leave of mLeaveTypesDD" value="{{leave.key}}">
        {{leave.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item no-padding>
    <ion-label>Is Active</ion-label>
    <ion-toggle [(ngModel)]="is_active"></ion-toggle>
  </ion-item>

</ion-content>

<ion-footer no-padding no-margin class="custom-footer">
  <button ion-button full no-padding no-margin (click)="onAddEmployee()" *ngIf="!isEdit">CREATE</button>
  <button ion-button full no-padding no-margin (click)="onEditEmployee()" *ngIf="isEdit">UPDATE</button>
</ion-footer>
