<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!showSearchBar">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-uppercase text-center>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-padding>
    <ion-label floating>First Name (*)</ion-label>
    <ion-input type="text" [(ngModel)]="employee.first_name"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Last Name (*)</ion-label>
    <ion-input type="text" [(ngModel)]="employee.last_name"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Address Line</ion-label>
    <ion-input type="text" [(ngModel)]="employee.address"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Birth Date</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" max="{{maxDate}}" [(ngModel)]="mBirthdate"></ion-datetime>
  </ion-item>

  <ion-label class="custom-select-lable">Select State (*)</ion-label>
  <ion-item no-padding class="custom-select-search">
    <div tappable class="select select-md custom-select">
      <div class="select-text"
        tappable
        modalSelect
        ngDefaultControl
        id="txtStateId"
        [(ngModel)]="employee.state_id"
        [(data)]="mStateDD"
        [(dataIndex)]="employee.state_id">
      </div>

      <div class="select-icon">
        <div class="select-icon-inner"></div>
      </div>
    </div>
  </ion-item>

  <ion-label class="custom-select-lable" *ngIf="isCities">Select City (*)</ion-label>
  <ion-item no-padding class="custom-select-search" *ngIf="isCities">
    <div tappable class="select select-md custom-select">
      <div class="select-text"
        tappable
        modalSelect
        ngDefaultControl
        id="txtCityId"
        [(ngModel)]="employee.city_id"
        [(data)]="mCitiesDD"
        [(dataIndex)]="employee.city_id">
      </div>

      <div class="select-icon">
        <div class="select-icon-inner"></div>
      </div>
    </div>
  </ion-item>

  <ion-label class="custom-select-lable">Select Department (*)</ion-label>
  <ion-item no-padding class="custom-select-search">
    <div tappable class="select select-md custom-select">
      <div class="select-text"
        tappable
        modalSelect
        ngDefaultControl
        id="txtDepartmentId"
        [(ngModel)]="employee.department_id"
        [(data)]="mDepartmentsDD"
        [(dataIndex)]="employee.department_id">
      </div>

      <div class="select-icon">
        <div class="select-icon-inner"></div>
      </div>
    </div>
  </ion-item>

  <ion-label class="custom-select-lable">Select Employee Role (*)</ion-label>
  <ion-item no-padding class="custom-select-search">
    <div tappable class="select select-md custom-select">
      <div class="select-text"
        tappable
        modalSelect
        ngDefaultControl
        id="txtRoleId"
        [(ngModel)]="employee.role_id"
        [(data)]="mRoleListDD"
        [(dataIndex)]="employee.role_id">
      </div>

      <div class="select-icon">
        <div class="select-icon-inner"></div>
      </div>
    </div>
  </ion-item>

  <ion-label class="custom-select-lable">Select Blood Group</ion-label>
  <ion-item no-padding class="custom-select-search">
    <div tappable class="select select-md custom-select">
      <div class="select-text"
        tappable
        modalSelect
        ngDefaultControl
        id="txtBloodGroupType"
        [(ngModel)]="employee.blood_group"
        [(data)]="mBloodGroupDD"
        [(dataIndex)]="employee.blood_group">
      </div>

      <div class="select-icon">
        <div class="select-icon-inner"></div>
      </div>
    </div>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Phone No</ion-label>
    <ion-input type="tel"  [(ngModel)]="employee.phone" ></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Salary</ion-label>
    <ion-input type="number" pattern="[0-9]*" [(ngModel)]="employee.salary" ></ion-input>
  </ion-item>

  <ion-item no-padding>
     <ion-label floating>Mobile No (*) </ion-label>
     <ion-input type="tel" maxLength="10" [(ngModel)]="employee.mobile"></ion-input>
   </ion-item>

  <ion-item no-padding>
    <ion-label floating>Email (*)</ion-label>
    <ion-input type="text" [(ngModel)]="employee.email"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Emergency Contact No</ion-label>
    <ion-input type="text" [(ngModel)]="employee.emergencynumber"></ion-input>
  </ion-item>

  <ion-label class="custom-select-lable">Select Leave Type</ion-label>
  <ion-item no-padding class="custom-select-search">
    <div tappable class="select select-md custom-select">
      <div class="select-text"
        tappable
        modalSelect
        ngDefaultControl
        id="txtEmployeeLeaveTypeId"
        [(ngModel)]="employee.leave_type_id"
        [(data)]="mLeaveTypesDD"
        [(dataIndex)]="employee.leave_type_id">
      </div>

      <div class="select-icon">
        <div class="select-icon-inner"></div>
      </div>
    </div>
  </ion-item>

  <ion-item no-padding>
    <ion-label>Is Active</ion-label>
    <ion-toggle [(ngModel)]="is_active"></ion-toggle>
  </ion-item>
</ion-content>

<ion-footer no-padding no-margin class="custom-footer">
  <button ion-button full no-padding no-margin (click)="onAddEmployee()" *ngIf="!isEdit">CREATE</button>
  <button ion-button full no-padding no-margin (click)="onEditEmployee()" *ngIf="isEdit">UPDATE</button>
</ion-footer>
