<ion-header class="page-task-search">
  <ion-navbar color="primary">
    <ion-title text-center>SEARCH</ion-title>

    <ion-buttons right>
      <button ion-button clear icon-left (click)="clearSearchData()">
        <!-- <ion-icon name="ios-close-circle-outline"></ion-icon> -->
        CLEAR
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-task-search">
  <ion-label class="custom-select-lable">Select client Group</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Client Group</ion-label>
    <ion-select class="custom-select" [(ngModel)]="taskSearch.client_group_id">
      <ion-option *ngFor="let group of mTaskClientGroupDD" value="{{group.key}}">
        {{group.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-label class="custom-select-lable">Select Client</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Client</ion-label>
    <ion-select class="custom-select" [(ngModel)]="taskSearch.client_id">
      <ion-option *ngFor="let client of mTaskClientDD" value="{{client.key}}">
        {{client.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-label class="custom-select-lable">Select Employee</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Employee</ion-label>
    <ion-select class="custom-select" [(ngModel)]="taskSearch.employee_id">
      <ion-option *ngFor="let emp of mTaskEmployeeDD" value="{{emp.key}}">
        {{emp.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-label class="custom-select-lable">Select Priority</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Priority</ion-label>
    <ion-select class="custom-select" [(ngModel)]="taskSearch.priority_id">
      <ion-option *ngFor="let priority of mTaskPriorityDD" value="{{priority.key}}">
        {{priority.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item no-padding class="custom-textarea">
    <ion-textarea [(ngModel)]="taskSearch.description" rows="5" placeholder="Enter a description"></ion-textarea>
  </ion-item>

  <ion-label class="custom-select-lable">Select Service</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Service</ion-label>
    <ion-select class="custom-select" [(ngModel)]="taskSearch.service_id">
      <ion-option *ngFor="let service of mTaskServiceDD" value="{{service.key}}">
        {{service.value}}
      </ion-option>
    </ion-select>
  </ion-item>

</ion-content>

<ion-footer no-padding no-margin class="custom-footer">
  <button ion-button full no-padding no-margin (click)="onClickSearchTask()">SEARCH</button>
</ion-footer>
