page-dashboard-client {
  .row {
    background: map-get($colors, light);

    .char-name-main {
      border-radius: 12px;
      min-width: 60px;
      min-height: 60px;

      .name-char {
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
