<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!showSearchBar">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-item no-lines *ngIf="showSearchBar" class="custom-searchbar">
      <ion-icon color="whiteColor" name="md-arrow-back" item-start (click)="toggleSearchIcon()"></ion-icon>

      <ion-input #searchBar
        placeholder="Name"
        *ngIf="showSearchBar"
        [(ngModel)]="searchText"
        (input)="searchData()"
        (ionBlur)="onSearchBlurEvent()"
        class="custom-input"></ion-input>

        <ion-icon item-end color="whiteColor" name="md-close" *ngIf="(searchText != null && searchText.length > 0)" (click)="clearSearchText()"></ion-icon>
    </ion-item>

    <!--
    <ion-searchbar #searchBar *ngIf="showSearchBar"
      [(ngModel)]="searchText"
      animated="true"
      showCancelButton="true"
      placeholder="Search By Name"
      debounce="1000"
      (ionInput)="searchData()"
      (ionCancel)="onSearchCancel()"
      (ionBlur)="onSearchBlurEvent()"></ion-searchbar>
    -->

    <ion-title align-items-center text-center *ngIf="!showSearchBar">CLIENT GROUP</ion-title>

    <ion-buttons right>
      <button ion-button icon-only end *ngIf="!showSearchBar" (click)="toggleSearchIcon()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="app-background page-client-group-list" (ionScroll)="scrollPage()">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div text-center *ngIf="showNoTextMsg">
    <p class="txt-bold txt-dark_gray"> There are no any task available.</p>
  </div>

  <div *ngIf="groupView">
    <ion-list class="group_list" *ngIf="mClientGroupList && mClientGroupList.length > 0">
      <ion-card class="custom-card" *ngFor="let item of mClientGroupList; let i = index">
        <ion-item>
          <p (click)="presentPopover($event, item)" class="txt-bold txt-black">{{item.name}}</p>

          <ion-icon item-end class="row_icon_end" color="black" name="md-more" (click)="presentPopover($event, item)" *ngIf="!NoPermission"></ion-icon>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>

  <ion-fab right bottom (click)="onAddClick()" *ngIf="groupCreate">
    <button ion-fab color="fab_red">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
