<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>EDIT CLIENT</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf='(tab == "basic_info")'>
    <h4 no-margin text-uppercase class="tab-title padding-10">basic information</h4>
    <div padding>
      <ion-item no-padding>
        <ion-label floating>Name (*)</ion-label>
        <ion-input #txtGroupName type="text" [(ngModel)]="client.name"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Email (*)</ion-label>
        <ion-input #txtDesignation type="text" [(ngModel)]="client.email"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Mobile No (*)</ion-label>
        <ion-input #txtMobileNo type="tel" maxLength="10" [(ngModel)]="client.mobile"></ion-input>
        <!-- <ion-input #txtMobileNo type="number" inputmode="numeric" pattern="[0-9]*" [(ngModel)]="client.mobile"></ion-input> -->
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Landline</ion-label>
        <ion-input #txtEmail type="text" [(ngModel)]="client.landline"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Address1 (*)</ion-label>
        <ion-input #txtEmail type="text" [(ngModel)]="client.address_1"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Address2</ion-label>
        <ion-input #txtEmail type="text" [(ngModel)]="client.address_2"></ion-input>
      </ion-item>

      <ion-label class="custom-select-lable">Select Client Type (*)</ion-label>
      <ion-item no-padding class="custom-select-search">
        <div tappable class="select select-md custom-select">
          <div class="select-text"
            tappable
            modalSelect
            ngDefaultControl
            id="txtClientType"
            [(ngModel)]="client.client_type"
            [(data)]="mClientTypeDD"
            [(dataIndex)]="client.client_type">
          </div>

          <div class="select-icon">
            <div class="select-icon-inner"></div>
          </div>
        </div>
      </ion-item>

      <ion-label class="custom-select-lable">Select Group</ion-label>
      <ion-item no-padding class="custom-select-search">
        <div tappable class="select select-md custom-select">
          <div class="select-text"
            tappable
            modalSelect
            ngDefaultControl
            id="txtClientGroupId"
            [(ngModel)]="client.client_group_id"
            [(data)]="mClientGroupDD"
            [(dataIndex)]="client.client_group_id">
          </div>

          <div class="select-icon">
            <div class="select-icon-inner"></div>
          </div>
        </div>
      </ion-item>

      <ion-label class="custom-select-lable">Select Country (*)</ion-label>
      <ion-item no-padding class="custom-select-search">
        <div tappable class="select select-md custom-select">
          <div class="select-text"
            tappable
            modalSelect
            ngDefaultControl
            id="txtClientCountryId"
            [(ngModel)]="client.country_id"
            [(data)]="mClientCountryDD"
            [(dataIndex)]="client.country_id">
          </div>

          <div class="select-icon">
            <div class="select-icon-inner"></div>
          </div>
        </div>
      </ion-item>

      <ion-label class="custom-select-lable">Select State (*)</ion-label>
      <ion-item no-padding class="custom-select-search">
        <div tappable class="select select-md custom-select">
          <div class="select-text"
            tappable
            modalSelect
            ngDefaultControl
            id="txtClientStateId"
            [(ngModel)]="client.state_id"
            [(data)]="mClientStateDD"
            [(dataIndex)]="client.state_id">
          </div>

          <div class="select-icon">
            <div class="select-icon-inner"></div>
          </div>
        </div>
      </ion-item>

      <ion-label class="custom-select-lable">Select City (*)</ion-label>
      <ion-item no-padding class="custom-select-search">
        <div tappable class="select select-md custom-select">
          <div class="select-text"
            tappable
            modalSelect
            ngDefaultControl
            id="txtClientCityId"
            [(ngModel)]="client.city_id"
            [(data)]="mClientCitiesDD"
            [(dataIndex)]="client.city_id">
          </div>

          <div class="select-icon">
            <div class="select-icon-inner"></div>
          </div>
        </div>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Pincode</ion-label>
        <ion-input type="text" [(ngModel)]="client.pincode"></ion-input>
      </ion-item>

      <ion-row align-items-center>
        <ion-col col-6 no-padding>
          <ion-item class="custom-toggle">
            <ion-label>Login</ion-label>
            <ion-toggle [(ngModel)]="client.create_login"></ion-toggle>
          </ion-item>
        </ion-col>

        <ion-col col-6 no-padding>
          <ion-item class="custom-toggle">
            <ion-label>Active</ion-label>
            <ion-toggle [(ngModel)]="client.is_active"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item no-padding>
        <ion-label>NOTIFICATION</ion-label>
      </ion-item>

      <ion-row align-items-center>
        <ion-col col-6 no-padding>
          <ion-item class="custom-toggle">
            <ion-label>SMS</ion-label>
            <ion-toggle [(ngModel)]="client.notify_via_sms"></ion-toggle>
          </ion-item>
        </ion-col>

        <ion-col col-6 no-padding>
          <ion-item class="custom-toggle">
            <ion-label>Email</ion-label>
            <ion-toggle [(ngModel)]="client.notify_via_email"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item no-padding>
        <ion-label floating>Reference</ion-label>
        <ion-input type="text" [(ngModel)]="client.reference"></ion-input>
      </ion-item>

      <ion-row align-items-center>
        <ion-col col-3 no-padding>
          <ion-item no-padding>
            <ion-label floating>Prifix</ion-label>
            <ion-input type="text" [(ngModel)]="client.client_prefix"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-9 no-padding class="padding-left-10">
          <ion-item no-padding>
            <ion-label floating>Client Number</ion-label>
            <ion-input type="text" [(ngModel)]="client.client_id"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col no-padding>
          <ion-label class="custom-select-lable">Opening Balance</ion-label>
          <ion-item no-padding>
            <ion-input #txtClientOpenBal type="tel" [(ngModel)]="client.opening_balance"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col no-padding padding-left>
          <ion-label class="custom-select-lable">Opening Type</ion-label>
          <ion-item no-padding class="custom-select-search">
            <div tappable class="select select-md custom-select">
              <div class="select-text"
                tappable
                modalSelect
                ngDefaultControl
                id="txtClientOpeningType"
                [(ngModel)]="client.opening_balance_type"
                [(data)]="mClientOpeningTypeDD"
                [(dataIndex)]="client.opening_balance_type">
              </div>

              <div class="select-icon">
                <div class="select-icon-inner"></div>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-label class="custom-select-lable">Select Group Billing</ion-label>
      <ion-item no-padding class="custom-select-search">
        <div tappable class="select select-md custom-select">
          <div class="select-text"
            tappable
            modalSelect
            ngDefaultControl
            id="txtClientGroupBilling"
            [(ngModel)]="client.group_billing"
            [(data)]="mClientGroupBillingDD"
            [(dataIndex)]="client.group_billing">
          </div>

          <div class="select-icon">
            <div class="select-icon-inner"></div>
          </div>
        </div>
      </ion-item>

      <ion-label class="custom-select-lable" *ngIf="client.group_billing && client.group_billing == 'yes'">Select Client</ion-label>
      <ion-item no-padding class="custom-select-search" *ngIf="client.group_billing && client.group_billing == 'yes'">
        <div tappable class="select select-md custom-select">
          <div class="select-text"
            tappable
            modalSelect
            ngDefaultControl
            id="txtOtherClientId"
            [(ngModel)]="client.other_client_id"
            [(data)]="mOtherClientsDD"
            [(dataIndex)]="client.other_client_id">
          </div>

          <div class="select-icon">
            <div class="select-icon-inner"></div>
          </div>
        </div>
      </ion-item>

    </div>
  </div>
  <div *ngIf='(tab == "client_data")'>
    <h4 no-margin text-uppercase class="tab-title padding-10">Registered Numbers</h4>
    <div padding>
      <ion-item no-padding *ngFor="let register of mClientData">
        <ion-label floating>{{register.name}}</ion-label>
        <ion-input type="text" [(ngModel)]="register.value"></ion-input>
      </ion-item>
    </div>
  </div>
  <div *ngIf='(tab == "service")'>
    <h4 no-margin text-uppercase class="tab-title padding-10">Client Services</h4>
    <ion-item padding>
      <ion-label floating>Search Service</ion-label>
      <ion-input #searchBar (input)="searchData()" (ionBlur)="onSearchBlurEvent()" [(ngModel)]="searchService">
      </ion-input>
    </ion-item>
    <p padding-left no-margin>Please select service(s) you provide to client</p>
    <ion-card *ngFor="let service of mTempServiceData" margin>
      <ion-card-content>
        <div class="row">
          <ion-col col-10>
            <ion-item no-padding>
              <ion-label floating><b>{{service.name}}</b></ion-label>
              <ion-input type="text" [(ngModel)]="service.amount"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2 align-self-center class="toogle-inline" *ngIf="this.appConfig.isRunOnIos()">
            <ion-item>
              <ion-toggle [(ngModel)]="service.status"></ion-toggle>
            </ion-item>
          </ion-col>
          <ion-col col-2 align-self-center *ngIf="this.appConfig.isRunOnAndroidDevice()">
            <ion-toggle [(ngModel)]="service.status"></ion-toggle>
          </ion-col>
          <!-- <ion-col col-2 align-self-center class="toogle-inline">
            <ion-toggle [(ngModel)]="service.status"></ion-toggle>
          </ion-col> -->
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer no-padding no-margin class="custom-footer">
  <ion-row *ngIf="(tab == 'basic_info')">
    <ion-col col-6 no-padding>
      <button ion-button full no-padding no-margin (click)="onClickEditClientContact()">UPDATE</button>
    </ion-col>
    <ion-col col-6 no-padding>
      <button ion-button full no-padding no-margin color="darkGrayColor" (click)="onClickSetTab('client_data')">NEXT</button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="(tab == 'client_data')">
    <ion-col col-6 no-padding>
      <button ion-button full no-padding no-margin (click)="onClickSetTab('basic_info')">PREVIOUS</button>
    </ion-col>
    <ion-col col-6 no-padding>
      <button ion-button full no-padding no-margin color="darkGrayColor" (click)="onClickSetTab('service')">NEXT</button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="(tab == 'service')">
    <ion-col col-6 no-padding>
      <button ion-button full no-padding no-margin (click)="onClickSetTab('client_data')">PREVIOUS</button>
    </ion-col>
    <ion-col col-6 no-padding>
      <button ion-button full no-padding no-margin color="darkGrayColor" (click)="onClickEditClientContact()">FINISH</button>
    </ion-col>
  </ion-row>
</ion-footer>
