<ion-header>
  <ion-toolbar color="primary" no-padding class="custom-toolbar">
    <ion-buttons left class="left-buttons">
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="page-task-complete">
  <ion-item no-padding>
    <ion-label floating>Select {{title}} (*)</ion-label>
    <ion-select [(ngModel)]="mItemData.service_id" class="custom-select" *ngIf="isServices == true">
      <ion-option *ngFor="let common of mCommonDD" value="{{common.key}}">{{common.value}}</ion-option>
    </ion-select>
    <ion-select [(ngModel)]="mItemData.expance_id" class="custom-select" *ngIf="isServices == false">
      <ion-option *ngFor="let common of mCommonDD" value="{{common.key}}">{{common.value}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item no-padding>
    <ion-label floating>Amount (*) </ion-label>
    <ion-input type="number" [(ngModel)]="mItemData.amount"></ion-input>
  </ion-item>
  <ion-item no-padding>
    <ion-label floating>Description</ion-label>
    <ion-textarea type="text" [(ngModel)]="mItemData.description"></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer no-padding no-margin color="primary" class="custom-footer">
  <button ion-button full no-padding no-margin color="primary" (click)="onSubmit()">SUBMIT</button>
</ion-footer>
