<ion-menu type="overlay" [content]="content" class="side-menu">
  <ion-header menuClose padding class="header">
    <ion-item no-lines no-padding class="row">
      <ion-thumbnail item-start no-margin class="char-name-main center_col" [ngClass]="'text_bg_'+this.appConfig.mUserNameChar">
        <h2 text-center class="name-char">
          {{this.appConfig.mUserNameChar}}
        </h2>
      </ion-thumbnail>
      <h2 class="user-name">{{this.appConfig.mUserName}}</h2>
      <p class="user-email">{{this.appConfig.mUserEmail}}</p>
    </ion-item>
  </ion-header>

  <ion-content class="menu-list-content">

    <!--
    <ion-list class="menu-list">
      <button menuClose ion-item text-uppercase class="menu-item" *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-start name="home"></ion-icon>
        {{p.title}}
      </button>

      <button menuClose ion-item text-uppercase class="menu-item" (click)="doLogout()">
        <ion-icon item-start name="log-out"></ion-icon>
        Logout
      </button>
    </ion-list>
    -->

    <ion-list class="menu-list">
      <button menuClose ion-item text-uppercase no-padding class="menu-item" *ngFor="let item of pages" (click)="openPage(item)">
        <ion-avatar item-left class="menu-icon">
          <img class="menu-icon-img" src="{{item.iconSrc}}" />
        </ion-avatar>

        {{item.title}}
      </button>

      <button menuClose ion-item text-uppercase no-padding class="menu-item" (click)="doLogout()">
        <ion-avatar item-left class="menu-icon">
          <img class="menu-icon-img" src="assets/icon/menu/logout.png" />
        </ion-avatar>

        Logout
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="isSwipeEnable"></ion-nav>
