// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Keyboard Covers Focused Input Element Inside Grid Component
// solved from : https://github.com/ionic-team/ionic/issues/10629
.col {
  position: initial;
}

.toolbar-ios {
  // min-height: 75px !important;
  .toolbar-background {
    border: none !important;
  }

  .title-ios {
    // height: 75px !important;
    // min-height: 75px !important;
    padding: 20px 0 0;
  }
}

ion-alert {
  // padding-top: 50% !important;
  input {
    min-height: 25px;
  }
}

.disable-scroll {
  .scroll-content {
    overflow: hidden !important;
  }
}

ion-app.ios,
ion-app.md,
ion-app.wp {
  font-family: $fonts-base-proxima;
}

[class*="text_bg_"] {
  background: map-get($colors, moderate_blue);
}

.text_bg_ {
  &1,
  &A,
  &a {
    background: map-get($colors, moderate_blue);
  }

  &2,
  &B,
  &b {
    background: map-get($colors, vivid_blue);
  }

  &3,
  &C,
  &c {
    background: map-get($colors, dark_moderate_lime_green);
  }

  &0,
  &4,
  &D,
  &d {
    background: map-get($colors, strong_cyan);
  }

  &5,
  &E,
  &e {
    background: map-get($colors, bright_red);
  }

  &6,
  &F,
  &f {
    background: map-get($colors, vivid_pink);
  }

  &7,
  &G,
  &g {
    background: map-get($colors, moderate_blue);
  }

  &8,
  &H,
  &h {
    background: map-get($colors, vivid_blue);
  }

  &9,
  &I,
  &i {
    background: map-get($colors, dark_moderate_lime_green);
  }

  &J,
  &j {
    background: map-get($colors, strong_cyan);
  }

  &K,
  &k {
    background: map-get($colors, bright_red);
  }

  &L,
  &l {
    background: map-get($colors, vivid_pink);
  }

  &M,
  &m {
    background: map-get($colors, moderate_blue);
  }

  &N,
  &n {
    background: map-get($colors, vivid_blue);
  }

  &O,
  &o {
    background: map-get($colors, dark_moderate_lime_green);
  }

  &P,
  &p {
    background: map-get($colors, strong_cyan);
  }

  &Q,
  &q {
    background: map-get($colors, bright_red);
  }

  &R,
  &r {
    background: map-get($colors, vivid_pink);
  }

  &S,
  &s {
    background: map-get($colors, moderate_blue);
  }

  &T,
  &t {
    background: map-get($colors, vivid_blue);
  }

  &U,
  &u {
    background: map-get($colors, dark_moderate_lime_green);
  }

  &V,
  &v {
    background: map-get($colors, strong_cyan);
  }

  &W,
  &w {
    background: map-get($colors, bright_red);
  }

  &X,
  &x {
    background: map-get($colors, vivid_pink);
  }

  &Y,
  &y {
    background: map-get($colors, moderate_blue);
  }

  &Z,
  &z {
    background: map-get($colors, vivid_blue);
  }
}

.side-menu {
  .menu-inner {
    background: transparent;
  }

  .header {
    background: map-get($colors, sideMenuHeader);

    .row {
      background: map-get($colors, sideMenuHeader);
    }

    .char-name-main {
      border-radius: 12px;
      min-width: 60px;
      min-height: 60px;

      .name-char {
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
    }
    // .char-name-sub {
    //   border-radius: 0px;
    //   min-width: 60px;
    //   min-height: 60px;
    //
    //   .name-char {
    //     color: white;
    //     font-size: 20px;
    //     font-weight: bold;
    //   }
    // }
    .user-name {
      color: white;
      font-size: 16px;
      font-weight: bold;
    }

    .user-email {
      color: white;
      font-size: 12px;
    }
  }

  .menu-list-content {
    background: #0a2231;
    opacity: 0.95;

    .menu-list {
      .menu-item {
        background: transparent;
        color: white;
        border-bottom: 1px solid map-get($colors, sideMenuHeader);
        padding: 0 15px;

        .menu-icon {
          margin: 0 !important;
          min-width: 30px;
          min-height: 30px;
        }

        .menu-icon-img {
          width: 40px;
          height: 40px;
        }

        .icon-ion {
          font-size: 1.8em;
          margin: 0 3px;
          color: #78A4C0;
        }

        .item-inner {
          background: transparent;
          // margin-left: 0px;
          padding: 0 0 0 10px;
          border: none;
        }
      }
    }
  }
}
// Padding Class

.padding- {
  &5 {
    padding: 5px;
  }

  &10 {
    padding: 10px;
  }

  &15 {
    padding: 15px;
  }

  &left- {
    &5 {
      padding-left: 5px;
    }

    &10 {
      padding-left: 10px !important;
    }

    &15 {
      padding-left: 15px;
    }
  }

  &right- {
    &5 {
      padding-right: 5px !important;
    }

    &10 {
      padding-right: 10px;
    }

    &15 {
      padding-right: 15px;
    }
  }

  &bottom- {
    &5 {
      padding-bottom: 5px;
    }

    &10 {
      padding-bottom: 10px;
    }

    &15 {
      padding-bottom: 15px;
    }
  }

  &top- {
    &5 {
      padding-top: 5px;
    }

    &10 {
      padding-top: 10px;
    }

    &15 {
      padding-top: 15px;
    }
  }
}

// General CSS
.app-background {
  background: url('../assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  //  background-color: map-get($colors, appBackground);
}

.app-background1 {
  background: url('../assets/background1.jpg') no-repeat center center fixed;
  background-size: cover;
  //  background-color: map-get($colors, appBackground);
}

.app-background-multiple {
  background: url('../assets/background_bottom.jpg'),url('../assets/background.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center , center center;
  background-size: contain, cover;
}

.text-color-light-blue {
  color: map-get($colors,lightBlueColor);
}

.white-rectangle-box {
  border: 1px solid map-get($colors,lightGrayColor);
  border-radius: 3px;
  background-color: map-get($colors,whiteColor);
}

.transparent {
  background: transparent;
}

.bgGray {
  background: map-get($colors, grayColor);
}

.bgWhite {
  background: map-get($colors, whiteColor);
}

.txt-bold {
  font-weight: bold !important;
}

.txt-black {
  color: map-get($colors, black) !important;
}

.txt-dark_gray {
  color: map-get($colors, darkGrayColor);
}

.txt-underline {
  text-decoration: underline;
}

.center_col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center_row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.custom-footer {
  .button {
    height: 49px;
  }
}

.single-line {
  display: block;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.char-name-main {
  border-radius: 12px;
  min-width: 60px;
  min-height: 60px;

  .name-char {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}

.no-border-radius {
  border-radius: 0;
}

.display-none {
  display: none;
}

.square-bedge {
  border-radius: 0;
}

.custom-searchbar {
  background: transparent;

  .item-inner {
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: none !important;
    box-shadow: none !important;
    webkit-box-shadow: none !important;
  }

  .custom-input {
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 0 10px;

    .text-input::-webkit-input-placeholder {
      color: map-get($colors, whiteColor);
      opacity: 0.8;
    }
  }
}

.custom-popover {
  .popover-content {
    max-width: 250px !important;
    width: 100% !important;

    .list-ios .item-block .item-inner {
      background-image: none !important;
    }
  }
}

.custom-select {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  padding: 0 10px 0 0;

  .item-select {
    background: map-get($colors, darkGrayColor);
    color: #fff;
    margin: 0;
    padding: 0;
    min-height: 25px;

    .item-inner {
      border: none;
    }

    .select {
      width: 100%;
      max-width: 100%;
      padding: 0 0 0 5px;

      .select-icon .select-icon-inner{
        left: 0;
        color: #FFF;
      }

      .select-placeholder {
        color: #FFF;
      }
    }
  }
}

.custom-select-search {
  .item-inner {
    padding-right: 0 !important;
  }

  .label {
    margin: 0 !important;
  }

  .custom-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    padding: 0 !important;
    width: 100%;

    .select-icon,
    .select-text {
      height: 4.4rem !important;
    }

    .select-text {
      padding: 13px 0 !important;
    }

    .select-icon {
      .select-icon-inner {
        left: 0 !important;
        margin-top: 0 !important;
      }
    }
  }
}

.custom-select-lable {
  margin: 10px 0 0;
}

.custom-textarea {
  ion-textarea {
    .text-input {
      margin: 10px 0;
      width: 100%;
    }
  }
}

input[type="time"]#edt-task-time::before {
  color: #aaa;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
/*
input[type="time"]#edt-task-time:focus::before,
input[type="time"]#edt-task-time:valid::before {
  content: '' !important;
  margin-right: 0;
}
*/
.fab {
  ion-icon {
    font-size: 3em;
  }
}

.platform-ipad,
.platform-tablet {
  .fab {
    width: 70px;
    height: 70px;

    ion-icon {
      font-size: 4em;
    }
  }

  .custom-toolbar {
    .title-ios {
      padding-top: 0px !important;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 1) {
  // .list-ios .item .item-inner {
  //     border-bottom-width: 1px;
  // }
  .item-ios.item-block .item-inner {
    border-bottom: 1px solid #d3d3d3;
  }

  .fab {
    // width: 70px;
    // height: 70px;
    ion-icon {
      // font-size: 3em;
    }
  }
}
