// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-ios {
  // min-height: 75px !important;
  .title-ios {
    // height: 75px !important;
    // min-height: 75px !important;
    padding: 20px 0 0;
  }
}

ion-app.ios,
ion-app.md,
ion-app.wp {
  font-family: $fonts-base-proxima;
}

.text_A,
.text_a {
  background: map-get($colors, moderate_blue);
}

.text_B,
.text_b {
  background: map-get($colors, vivid_blue);
}

.text_C,
.text_c {
  background: map-get($colors, dark_moderate_lime_green);
}

.text_D,
.text_d {
  background: map-get($colors, strong_cyan);
}

.text_E,
.text_e {
  background: map-get($colors, bright_red);
}

.text_F,
.text_f {
  background: map-get($colors, vivid_pink);
}

.text_G,
.text_g {
  background: map-get($colors, moderate_blue);
}

.text_H,
.text_h {
  background: map-get($colors, vivid_blue);
}

.text_I,
.text_i {
  background: map-get($colors, dark_moderate_lime_green);
}

.text_J,
.text_j {
  background: map-get($colors, strong_cyan);
}

.text_K,
.text_k {
  background: map-get($colors, bright_red);
}

.text_L,
.text_l {
  background: map-get($colors, vivid_pink);
}

.text_M,
.text_m {
  background: map-get($colors, moderate_blue);
}

.text_N,
.text_n {
  background: map-get($colors, vivid_blue);
}

.text_O,
.text_o {
  background: map-get($colors, dark_moderate_lime_green);
}

.text_P,
.text_p {
  background: map-get($colors, strong_cyan);
}

.text_Q,
.text_q {
  background: map-get($colors, bright_red);
}

.text_R,
.text_r {
  background: map-get($colors, vivid_pink);
}

.text_S,
.text_s {
  background: map-get($colors, moderate_blue);
}

.text_T,
.text_t {
  background: map-get($colors, vivid_blue);
}

.text_U,
.text_u {
  background: map-get($colors, dark_moderate_lime_green);
}

.text_V,
.text_v {
  background: map-get($colors, strong_cyan);
}

.text_W,
.text_w {
  background: map-get($colors, bright_red);
}

.text_X,
.text_x {
  background: map-get($colors, vivid_pink);
}

.text_Y,
.text_y {
  background: map-get($colors, moderate_blue);
}

.text_Z,
.text_z {
  background: map-get($colors, vivid_blue);
}

.side-menu {
  .menu-inner {
    background: transparent;
  }

  .header {
    background: map-get($colors, sideMenuHeader);

    .row {
      background: map-get($colors, sideMenuHeader);
    }

    .char-name-main {
      border-radius: 12px;
      min-width: 60px;
      min-height: 60px;

      .name-char {
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
    }
    // .char-name-sub {
    //   border-radius: 0px;
    //   min-width: 60px;
    //   min-height: 60px;
    //
    //   .name-char {
    //     color: white;
    //     font-size: 20px;
    //     font-weight: bold;
    //   }
    // }
    .user-name {
      color: white;
      font-size: 16px;
      font-weight: bold;
    }

    .user-email {
      color: white;
      font-size: 12px;
    }
  }

  .menu-list-content {
    background: #0a2231;
    opacity: 0.95;

    .menu-list {
      .menu-item {
        background: transparent;
        color: white;
        border-bottom: 1px solid map-get($colors, sideMenuHeader);

        .item-inner {
          background: transparent;
          margin-left: 10px;
          border: none;
        }
      }
    }
  }
}
// Padding Class

.padding- {
  &5 {
    padding: 5px;
  }

  &10 {
    padding: 10px;
  }

  &15 {
    padding: 15px;
  }

  &left- {
    &5 {
      padding-left: 5px;
    }

    &10 {
      padding-left: 10px;
    }

    &15 {
      padding-left: 15px;
    }
  }

  &right- {
    &5 {
      padding-right: 5px;
    }

    &10 {
      padding-right: 10px;
    }

    &15 {
      padding-right: 15px;
    }
  }

  &bottom- {
    &5 {
      padding-bottom: 5px;
    }

    &10 {
      padding-bottom: 10px;
    }

    &15 {
      padding-bottom: 15px;
    }
  }

  &top- {
    &5 {
      padding-top: 5px;
    }

    &10 {
      padding-top: 10px;
    }

    &15 {
      padding-top: 15px;
    }
  }
}
// General Css

.app-background {
  background: url('../assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  //  background-color: map-get($colors, appBackground);
}

.app-background1 {
  background: url('../assets/background1.jpg') no-repeat center center fixed;
  background-size: cover;
  //  background-color: map-get($colors, appBackground);
}

.app-background-multiple {
  background: url('../assets/background_bottom.jpg'),url('../assets/background.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center , center center;
  background-size: contain, cover;
}

.text-color-light-blue {
  color: map-get($colors,lightBlueColor);
}

.white-rectangle-box {
  border: 1px solid map-get($colors,lightGrayColor);
  border-radius: 3px;
  background-color: map-get($colors,whiteColor);
}

.transparent {
  background: transparent;
}

.bgGray {
  background: map-get($colors, grayColor);
}

.bgWhite {
  background: map-get($colors, whiteColor);
}

.txt-bold {
  font-weight: bold !important;
}

.txt-black {
  color: map-get($colors, black) !important;
}

.txt-dark_gray {
  color: map-get($colors, darkGrayColor);
}

.txt-underline {
  text-decoration: underline;
}

.center_col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center_row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.custom-footer {
  .button {
    height: 49px;
  }
}

.single-line {
  display: block;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.char-name-main {
  border-radius: 12px;
  min-width: 60px;
  min-height: 60px;

  .name-char {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}

.custom-searchbar {
  background: transparent;

  .item-inner {
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: none !important;
    box-shadow: none !important;
    webkit-box-shadow: none !important;
  }

  .custom-input {
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 0 10px;
  }
}

.custom-popover {
  .popover-content {
    max-width: 180px !important;

    .list-ios .item-block .item-inner {
      background-image: none !important;
    }
  }
}
