// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-app.md,
ion-app.ios,
ion-app.wp{
  font-family: $fonts-base-proxima;
}

.text_a, .text_A {
  background: map-get($colors, moderate_blue);
}

.text_b, .text_B {
  background: map-get($colors, vivid_blue);
}

.text_c, .text_C {
  background: map-get($colors, dark_moderate_lime_green);
}

.text_d, .text_D {
  background: map-get($colors, strong_cyan);
}

.text_e, .text_E {
  background: map-get($colors, bright_red);
}

.text_f, .text_F {
  background: map-get($colors, vivid_pink);
}

.text_g, .text_G {
  background: map-get($colors, moderate_blue);
}

.text_h, .text_H {
  background: map-get($colors, vivid_blue);
}

.text_i, .text_I {
  background: map-get($colors, dark_moderate_lime_green);
}

.text_j, .text_J {
  background: map-get($colors, strong_cyan);
}

.text_k, .text_K {
  background: map-get($colors, bright_red);
}

.text_l, .text_L {
  background: map-get($colors, vivid_pink);
}

.text_m, .text_M {
  background: map-get($colors, moderate_blue);
}

.text_n, .text_N {
  background: map-get($colors, vivid_blue);
}

.text_o, .text_O {
  background: map-get($colors, dark_moderate_lime_green);
}

.text_p, .text_P {
  background: map-get($colors, strong_cyan);
}

.text_q, .text_Q {
  background: map-get($colors, bright_red);
}

.text_r, .text_R {
  background: map-get($colors, vivid_pink);
}

.text_s, .text_S {
  background: map-get($colors, moderate_blue);
}

.text_t, .text_T {
  background: map-get($colors, vivid_blue);
}

.text_u, .text_U {
  background: map-get($colors, dark_moderate_lime_green);
}

.text_v, .text_V {
  background: map-get($colors, strong_cyan);
}

.text_w, .text_W {
  background: map-get($colors, bright_red);
}

.text_x, .text_X {
  background: map-get($colors, vivid_pink);
}

.text_y, .text_Y {
  background: map-get($colors, moderate_blue);
}

.text_z, .text_Z {
  background: map-get($colors, vivid_blue);
}

.side-menu {
  .menu-inner {
    background: transparent;
  }

  .header {
    background: map-get($colors, sideMenuHeader);

    .row {
      background: map-get($colors, sideMenuHeader);
    }

    .char-name-main {
      border-radius: 12px;
      min-width: 60px;
      min-height: 60px;

      .name-char {
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .user-name {
      color: white;
      font-size: 16px;
      font-weight: bold;
    }

    .user-email {
      color: white;
      font-size: 12px;
    }
  }

  .menu-list-content {
    background: #0a2231;
    opacity: 0.95;

    .menu-list {
      .menu-item {
        background: transparent;
        color: white;
        border-bottom: 1px solid map-get($colors, sideMenuHeader);

        .item-inner {
          background: transparent;
          margin-left: 10px;
          border: none;
        }
      }
    }
  }
}

// General Css
.app-background {
  background: url('../assets/background.jpg') no-repeat center center fixed;
  background-size:cover;
  //  background-color: map-get($colors, appBackground);
}

.app-background1 {
  background: url('../assets/background1.jpg') no-repeat center center fixed;
  background-size:cover;
  //  background-color: map-get($colors, appBackground);
}

.app-background-multiple {
  background: url('../assets/background_bottom.jpg'),url('../assets/background.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center , center center;
  background-size: contain, cover
}

.text-color-light-blue {
  color: map-get($colors,lightBlueColor);
}

.white-rectangle-box {
    border: 1px solid map-get($colors,lightGrayColor);
    border-radius: 3px;
    background-color: map-get($colors,whiteColor);
}

.transparent {
  background: transparent;
}

.bgGray {
  background: map-get($colors, grayColor);
}

.bgWhite {
  background: map-get($colors, whiteColor);
}

.txt-bold {
  font-weight: bold !important;
}

.txt-black {
  color: map-get($colors, black);
}

.txt-dark_gray {
  color: map-get($colors, darkGrayColor);
}

.txt-underline {
  text-decoration: underline;
}

.center_col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center_row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
