// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.side-menu {
  .header {
    background: map-get($colors, sideMenuHeader);

    .row {
      background: map-get($colors, sideMenuHeader);
    }

    .char-name-main {
      background: yellowgreen;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-width: 60px;
      min-height: 60px;

      .name-char {
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .user-name {
      color: white;
      font-size: 16px;
      font-weight: bold;
    }

    .user-email {
      color: white;
      font-size: 12px;
    }
  }

  .menu-list-content {
    background: #0a2231;
    opacity: 0.8;

    .menu-list {
      .menu-item {
        background: transparent;
        color: white;
        border-bottom: 1px solid white;

        .item-inner {
          background: transparent;
          margin-left: 10px;
          border: none;
        }
      }
    }
  }
}

// General Css
.text-color-light-blue {
  color: #4B80B8;
}
.white-rectangle-box {
    border: 1px solid grey;
    border-radius: 3px;
}
