<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>EDIT TASK</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-label class="custom-select-lable">Select Task Stage</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Task Stage</ion-label>
    <ion-select class="custom-select" [(ngModel)]="task.account_service_task_category_id" (ionChange)="onStageChange()">
      <ion-option *ngFor="let stage of mTaskStageDD" value="{{stage.key}}">
        {{stage.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-label class="custom-select-lable">Select Client</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Client</ion-label>
    <ion-select class="custom-select" [(ngModel)]="task.client_id" (ionChange)="onClientChange()">
      <ion-option *ngFor="let client of mTaskClientDD" value="{{client.key}}">
        {{client.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-label class="custom-select-lable">Select Priority (*)</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Priority</ion-label>
    <ion-select class="custom-select" [(ngModel)]="task.priority" (ionChange)="onPriorityChange()">
      <ion-option *ngFor="let priority of mTaskPriorityDD" value="{{priority.key}}">
        {{priority.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-label class="custom-select-lable">Select Assign To</ion-label>
  <ion-item no-padding>
    <ion-label class="display-none">Select Assign To</ion-label>
    <ion-select class="custom-select" [(ngModel)]="task.assign_id" (ionChange)="onAssignToChange()">
      <ion-option *ngFor="let assign of mTaskAssignToDD" value="{{assign.key}}">
        {{assign.value}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Overdue Days</ion-label>
    <ion-input #txtGroupName type="text" [(ngModel)]="task.overdue_days"></ion-input>
  </ion-item>

  <!--
  <ion-item no-padding>
    <ion-label floating>Description (*)</ion-label>
    <ion-input #txtDesignation type="text" [(ngModel)]="task.name"></ion-input>
  </ion-item>
  -->

  <ion-item no-padding>
    <ion-label floating>Description (*)</ion-label>
    <ion-textarea [(ngModel)]="task.name" rows="5" placeholder=""></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer no-padding no-margin class="custom-footer">
  <button ion-button full no-padding no-margin (click)="onClickAddTask()">UPDATE</button>
</ion-footer>
