<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>ADD CLIENT CONTACT</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="task_buttons">
    <ion-row no-padding>
      <ion-col no-padding>
        <ion-row no-padding radio-group [(ngModel)]="contactType" (ionChange)="doChangeListType()">
          <ion-col no-padding>
            <ion-item no-lines no-padding class="transparent">
              <ion-label>Client</ion-label>
              <ion-radio item-left value="client" class="radio_mg"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col no-padding>
            <ion-item no-lines no-padding class="transparent">
              <ion-label>Other</ion-label>
              <ion-radio item-left value="other" class="radio_mg"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
<ion-item no-padding *ngIf="(contactType == 'client')">
  <ion-label>Select Client</ion-label>
  <ion-select [(ngModel)]="select_client" (ionChange)="onClientChange()">
    <ion-option *ngFor="let client of mClientContactDD" value="{{client.key}}">
      {{client.value}}
    </ion-option>
  </ion-select>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Name</ion-label>
    <ion-input #txtGroupName type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Designation</ion-label>
    <ion-input #txtDesignation type="text" [(ngModel)]="designation"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Mobile No</ion-label>
    <ion-input #txtMobileNo type="text" [(ngModel)]="mobile_no"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Email</ion-label>
    <ion-input #txtEmail type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Address</ion-label>
    <ion-input #txtEmail type="text" [(ngModel)]="address"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label>Select City</ion-label>
    <ion-select [(ngModel)]="select_city">
      <ion-option value="f">Female</ion-option>
      <ion-option value="m">Male</ion-option>
    </ion-select>
    </ion-item>

</ion-content>

<ion-footer no-padding no-margin class="custom-footer">
  <button ion-button full no-padding no-margin (click)="onClickAddClientContact()">CREATE</button>
</ion-footer>
