page-client-detail {
  .char-name-main {
    border: 2px solid #fff;
    .name-char {
      font-size: 30px;
    }
  }
  .margin-3px{
    margin: 3px;
    color: #fff;
  }

  .name-general {
    color: #fff;
    font-size: 30px;
  }

  .name-notification {
    font-size: 15px;
  }

  .task-tab-title {
    background: #405362;
    color: #fff;
    font-family: $fonts-base-proxima-semibold;
  }

  .contact-tab-title {
    background: #405362;
    font-family: $fonts-base-proxima-semibold;
  }

  .client-extra-fields-tab-title {
    background: #405362;
    font-family: $fonts-base-proxima-semibold;
  }

  .strong_cyan {
    background: map-get($colors, strong_cyan);
  }
}
