<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!showSearchBar">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-item no-lines *ngIf="showSearchBar" class="custom-searchbar">
      <ion-icon color="whiteColor" name="md-arrow-back" item-start (click)="toggleSearchIcon()"></ion-icon>
      <ion-input #searchBar placeholder="Name/Receipt No/Payment Method" *ngIf="showSearchBar" [(ngModel)]="searchText" (input)="searchData()" (ionBlur)="onSearchBlurEvent()" class="custom-input"></ion-input>
      <ion-icon item-end color="whiteColor" name="md-close" *ngIf="(searchText != null && searchText.length > 0)" (click)="clearSearchText()"></ion-icon>
    </ion-item>

    <ion-title align-items-center text-center *ngIf="!showSearchBar">RECEIPTS</ion-title>

    <ion-buttons right>
      <button ion-button icon-only end *ngIf="!showSearchBar" (click)="toggleSearchIcon()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="app-background" (ionScroll)="scrollPage()">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div text-center *ngIf="showNoTextMsg">
    <p class="txt-bold txt-dark_gray"> No receipts available.</p>
  </div>

  <ion-card *ngFor="let receipt of mReceiptList; let i = index">
    <ion-card-content no-padding>
      <ion-row class="white-rectangle-box">
        <ion-col col-3 item-start no-margin class="char-name-main no-border-radius center_col" [ngClass]="'text_bg_'+this.appConfig.getfirstLatter(receipt.name)">
          <h2 text-center text-capitalize class="name-char">
            {{this.appConfig.getfirstLatter(receipt.name)}}
         </h2>
        </ion-col>

        <ion-col col-8 align-self-center class="padding-left-10 padding-bottom-15">
          <p (click)="presentPopover($event, receipt)">
            <b>{{receipt.name}}</b>
          </p>

          <p>
            <span *ngIf="(receipt.receipt_prefix != null && receipt.receipt_prefix != '')">Receipt No.: {{receipt.receipt_prefix}}</span>
            <span *ngIf="(receipt.receipt_number != null && receipt.receipt_number != '')"> - {{receipt.receipt_number}}</span>
          </p>

          <p *ngIf="(receipt.payment_method != null && receipt.payment_method != '')">
            <span>Payment Method: </span>
            <span text-uppercase> {{ receipt.payment_method }}</span>
          </p>

          <p *ngIf="(receipt.amount != null && receipt.amount != '')">
            <span>Amount: </span>
            <span class="txt-bold"> {{ receipt.amount }}</span>
          </p>
        </ion-col>

        <ion-col col-1 align-self-start class="row_col_icon_end" *ngIf="hasPermissions">
          <ion-icon class="row_icon_end" color="black" name="md-more" (click)="presentPopover($event, receipt)"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="padding-5">
        <p *ngIf="(receipt.payment_date != null && receipt.payment_date != '')">
          <span>Payment Date: </span>
          <span> {{ receipt.payment_date }}</span>
        </p>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom (click)="onAddClick()" *ngIf="receiptCreate">
    <button ion-fab color="fab_red">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
