.page-task-list {
  .header-ios .toolbar-background-ios {
    border: none !important;
  }

  .task_list {
    .list_row {
      background: map-get($colors, whiteColor);
      border: 1px solid #D3D3D3;

      .row_val {
        margin: 3px auto;
      }
    }
  }

  .padd-right-5 {
    padding-right: 5px;
  }

  .square-bedge {
    border-radius: 0;
  }

  .row_icon_end {
    font-size: 2em;
    // margin: 0px auto !important;
    padding-left: 15px;
    padding-right: 15px;
  }

  .custom-select {
    margin-top: 10px;

    .item-select {
      background: map-get($colors, darkGrayColor);
      color: #fff;
      margin: 0;
      padding: 0;
      min-height: 25px;

      .item-inner {
        border: none;
      }

      .select {
        width: 100%;
        max-width: 100%;
        padding: 0 0 0 5px;

        .select-icon .select-icon-inner{
          left: 0;
          color: #FFF;
        }

        .select-placeholder {
          color: #FFF;
        }
      }
    }
  }
}
