page-client-add {
  .tab-title {
    background: #d3d3d3;
    font-family: $fonts-base-proxima-semibold;
  }

  .card-md {
    width: calc(100% - 30px);
  }

  .remove-singleline {
    text-overflow: inherit;
    white-space: normal;
  }

  .toogle-inline {
    .item-ios {
      padding: 0;
      min-width: 100px;

      .input-wrapper {
        display: none;
      }

      .toggle-ios {
        padding-left: 0;
      }
    }
  }

  .custom-toggle {
    padding-left: 0 !important;

    .item-inner {
      padding-right: 3px !important;

      .label {
        margin: 11px 0 !important;
      }

      .toggle-ios {
        padding: 6px 8px !important;
      }
    }
  }
}
