<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>UPLOAD IMAGE</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card text-center>
    <ion-card-content>
      <img [src]="imagePath" *ngIf="imagePath" (click)="openImageView()"/>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom on-tap="openCameraActionSheet()">
    <button ion-fab>
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab *ngIf="showUpload" left bottom on-tap="uploadImage()">
    <button ion-fab>
      <ion-icon name="md-cloud-upload"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
