page-receipt-edit {
  .list-form {
    color: map-get($colors, darkGrayColor);
  }

  .custom-textbox {
    border-bottom: 1px solid map-get($colors, darkGrayColor);
  }

  .txt-client-name {
    margin: 0px !important;
    padding: 10px 0px !important;
  }
}
