<ion-header>
  <ion-navbar #navbar color="primary">
    <ion-title text-center>EDIT RECEIPT</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf='(selectedTab == "part_1")'>
    <div padding>
      <ion-item no-padding>
        <ion-label floating>Receipt Prefix (*)</ion-label>
        <ion-input type="text" [(ngModel)]="receiptData.receipt_prefix"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Receipt Number (*)</ion-label>
        <ion-input type="text" [(ngModel)]="receiptData.receipt_number"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Reference Number (*)</ion-label>
        <ion-input type="text" [(ngModel)]="receiptData.reference_number"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Payment Date</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" [(ngModel)]="mPaymentDate"></ion-datetime>
      </ion-item>

      <p class="tab-title txt-client-name">
        <span class="txt-bold">Client Name : </span>
        <span> {{receiptData.client_name}}</span>
      </p>

      <ion-label class="custom-select-lable">Select Payment Method (*)</ion-label>
      <ion-item no-padding class="custom-select-search">
        <div tappable class="select select-md custom-select">
          <div class="select-text" tappable modalSelect ngDefaultControl id="txtPaymentMethod" [(ngModel)]="receiptData.payment_method" [(data)]="mPaymentMethodDD" [(dataIndex)]="receiptData.payment_method">
          </div>

          <div class="select-icon">
            <div class="select-icon-inner"></div>
          </div>
        </div>
      </ion-item>

      <div *ngIf="receiptData.payment_method != null">
        <ion-item no-padding *ngIf="receiptData.payment_method =='cheque'">
          <ion-label floating>Cheque No (*)</ion-label>
          <ion-input type="text" [(ngModel)]="receiptData.cheque_no"></ion-input>
        </ion-item>

        <ion-item no-padding *ngIf="receiptData.payment_method =='cheque'">
          <ion-label floating>Cheque Date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" [(ngModel)]="mChequeDate"></ion-datetime>
        </ion-item>

        <ion-item no-padding *ngIf="receiptData.payment_method =='cheque'">
          <ion-label floating>Bank Name (*)</ion-label>
          <ion-input type="text" [(ngModel)]="receiptData.cheque_bank_name"></ion-input>
        </ion-item>

        <ion-item no-padding *ngIf="receiptData.payment_method =='debit'
          || receiptData.payment_method =='credit'
          || receiptData.payment_method =='RTGS'
          || receiptData.payment_method =='NEFT'">
          <ion-label floating>Transaction No (*)</ion-label>
          <ion-input type="text" [(ngModel)]="receiptData.transaction_no"></ion-input>
        </ion-item>

        <ion-item no-padding *ngIf="receiptData.payment_method =='debit'
          || receiptData.payment_method =='credit'
          || receiptData.payment_method =='RTGS'
          || receiptData.payment_method =='NEFT'">
          <ion-label floating>Transaction Date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" [(ngModel)]="mTransactionDate"></ion-datetime>
        </ion-item>
      </div>

      <ion-item no-padding>
        <ion-label floating>Amount (*)</ion-label>
        <ion-input type="tel" [(ngModel)]="receiptData.amount" (ionChange)="onChangeAmount()"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Advance Amount</ion-label>
        <ion-input type="tel" disabled [(ngModel)]="receiptData.advance_amount"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <p>
          <span class="txt-bold">Current Balance : </span>
          <span *ngIf="mInvoiceData.current_balance != null && mInvoiceData.current_balance != ''">
            <span class="txt-bold">&#8377;</span>
            <span> {{mInvoiceData.current_balance}} </span>
            <span class="txt-bold">{{mInvoiceData.balance_type}}</span>
          </span>
        </p>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Remark</ion-label>
        <ion-textarea [(ngModel)]="receiptData.remark" rows="5" placeholder=""></ion-textarea>
      </ion-item>
    </div>
  </div>

  <div *ngIf='(selectedTab == "part_2")' class="list-form">
    <ion-label no-margin padding class="txt-bold tab-title">INVOICE DETAIL</ion-label>

    <div text-center *ngIf="receiptData.mInvoiceList == null
      || (receiptData.mInvoiceList != null && receiptData.mInvoiceList.length <= 0)">
      <p class="txt-bold txt-dark_gray"> There are no invoice available.</p>
    </div>

    <div *ngIf="receiptData.mInvoiceList != null && receiptData.mInvoiceList.length > 0">
      <ion-card margin class="card-invoice" *ngFor="let item of receiptData.mInvoiceList">
        <ion-card-content>
          <ion-row>
            <ion-col no-padding>
              Invoice No : {{item.invoice_number}}
            </ion-col>

            <ion-col no-padding class="col-initial">
              <ion-input no-margin class="custom-textbox" type="number" placeholder="Amount" [(ngModel)]="item.amount" (ionChange)="onChangeInvoiceAmount()"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="item.invoice_amount != null && item.invoice_amount != ''">
            Invoice Amount : {{item.invoice_amount}}
          </ion-row>

          <ion-row *ngIf="item.pending_amount != null && item.pending_amount != ''">
            Pending Amount : {{item.pending_amount}}
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf='(selectedTab == "part_3")' class="list-form">
    <ion-label no-margin padding class="txt-bold tab-title">EXPENSE DETAIL</ion-label>

    <div text-center *ngIf="receiptData.mExpenseList == null
      || (receiptData.mExpenseList != null && receiptData.mExpenseList.length <= 0)">
      <p class="txt-bold txt-dark_gray"> There are no expense available.</p>
    </div>

    <div *ngIf="receiptData.mExpenseList != null && receiptData.mExpenseList.length > 0">
      <ion-card margin class="card-invoice" *ngFor="let item of receiptData.mExpenseList">
        <ion-card-content>
          <ion-row>
            <ion-col no-padding>
              Invoice No : {{item.invoice_number}}
            </ion-col>

            <ion-col no-padding class="col-initial">
              <ion-input no-margin class="custom-textbox" type="number" placeholder="Amount" [(ngModel)]="item.amount"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="item.expense_name != null && item.expense_name != ''">
            Expense Name : {{item.expense_name}}
          </ion-row>

          <ion-row *ngIf="item.expense_amount != null && item.expense_amount != ''">
            Expense Amount : {{item.expense_amount}}
          </ion-row>

          <ion-row *ngIf="item.pending_amount != null && item.pending_amount != ''">
            Pending Amount : {{item.pending_amount}}
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer no-padding no-margin class="custom-footer">
  <ion-row *ngIf="(selectedTab == 'part_1')">
    <ion-col no-padding>
      <button ion-button full no-padding no-margin (click)="onClickSetTab('part_2')">NEXT</button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="(selectedTab == 'part_2')">
    <ion-col col-6 no-padding>
      <button ion-button full no-padding no-margin color="darkGrayColor" (click)="onClickSetTab('part_1')">PREVIOUS</button>
    </ion-col>
    <ion-col col-6 no-padding>
      <button ion-button full no-padding no-margin (click)="onClickSetTab('part_3')">NEXT</button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="(selectedTab == 'part_3')">
    <ion-col col-6 no-padding>
      <button ion-button full no-padding no-margin color="darkGrayColor" (click)="onClickSetTab('part_2')">PREVIOUS</button>
    </ion-col>
    <ion-col col-6 no-padding>
      <button ion-button full no-padding no-margin (click)="onClickUpdateButton()">UPDATE</button>
    </ion-col>
  </ion-row>
</ion-footer>
