<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!showSearchBar">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-item no-lines *ngIf="showSearchBar" class="custom-searchbar">
      <ion-icon color="whiteColor" name="md-arrow-back" item-start (click)="toggleSearchIcon()"></ion-icon>
      <ion-input #searchBar placeholder="Name/Client/City/Designation" *ngIf="showSearchBar" [(ngModel)]="searchText" (input)="searchData()" (ionBlur)="onSearchBlurEvent()" class="custom-input"></ion-input>
      <ion-icon item-end color="whiteColor" name="md-close" *ngIf="(searchText != null && searchText.length > 0)" (click)="clearSearchText()"></ion-icon>
    </ion-item>

    <ion-title align-items-center text-center *ngIf="!showSearchBar">CONTACTS</ion-title>

    <ion-buttons right>
      <button ion-button icon-only end *ngIf="!showSearchBar && showSearchIcon " (click)="toggleSearchIcon()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="app-background" (ionScroll)="scrollPage()">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div text-center *ngIf="showNoTextMsg">
    <p class="txt-bold txt-dark_gray"> No contacts available.</p>
  </div>

  <div *ngIf="contactView && (mClientContactList && mClientContactList.length > 0)">
    <ion-card *ngFor="let contact of mClientContactList, let i = contact">
      <ion-card-content no-padding>
        <ion-row>
          <ion-col col-3 item-start no-margin class="char-name-main no-border-radius center_col" [ngClass]="'text_bg_'+this.appConfig.getfirstLatter(contact.name)">
            <h2 text-center text-capitalize class="name-char">
              {{this.appConfig.getfirstLatter(contact.name)}}
           </h2>
          </ion-col>
          <ion-col col-8 align-self-center class="padding-left-10 padding-bottom-15">
            <p text-uppercase (click)="presentPopover($event, contact)" ><b>{{contact.name}} <span *ngIf="(contact.mobile_no != null && contact.mobile_no != '')"> ({{contact.mobile_no}}) </span></b></p>
            <p> {{contact.email}}</p>
            <p> {{contact.designation}}</p>
            <p> {{ contact.city }}</p>
            <p> <span *ngIf="(contact.client_name != null && contact.client_name != ''&& contact.client_name != 'N/A')"><b> Client: </b> {{ contact.client_name }}</span> <span *ngIf="(contact.client_mobile != null && contact.client_mobile != ''&& contact.client_mobile != 'N/A')"> ({{contact.client_mobile}}) </span>              </p>
          </ion-col>
          <ion-col col-1 align-self-start class="row_col_icon_end">
            <ion-icon class="row_icon_end" color="black" name="md-more" (click)="presentPopover($event, contact)" *ngIf="!NoPermission"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom (click)="onAddClick()" *ngIf="contactCreate">
    <button ion-fab color="fab_red">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
