page-contact {
  // .char-name-sub {
  //   border-radius: 0px;
  //   min-width: 60px;
  //   min-height: 60px;
  //
  //   .name-char {
  //     color: white;
  //     font-size: 20px;
  //     font-weight: bold;
  //   }
  // }
  .char-name-main {
    border-radius: 0px;
    .name-char {
      font-size: 30px;
    }
  }
    // ion-col > address {
    //   font-style: normal;
    // }
    .row_icon_end {
      margin: 0px auto !important;
      padding-left: 15px;
      padding-right: 15px;
    }

}
