page-task-comment {
  .task_list {
    background: map-get($colors, whiteColor);
    margin: 0 0 16px;
    padding-top: 5px;

    .list_row {
      .row_val {
        margin: 3px auto;
      }

      .no-top-margin {
        margin-top: 0 !important;
      }
    }

    .completed-row {
      .row-padding {
        padding: 10px 10px 5px;
      }
    }
  }

  .row_icon_end {
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
  }

  .comment-list {
    .comment-list-header {
      background: map-get($colors, lightGrayColor);
      color: map-get($colors, darkGrayColor);
      margin: 0 10px;
      padding: 10px 0;
    }

    .row-item {
      background: #fff;
      border: 1px solid map-get($colors, grayColor);
      color: map-get($colors, darkGrayColor);
      margin: 10px;
      padding: 10px !important;

      .label {
        margin: 0 !important;
      }

      .space-margin {
        margin: 2px 0 !important;
      }

      .char-name-main {
        display: inline-flex;
        min-width: 0;
        min-height: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;

        .name-char {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 14px;
        }
      }
    }
  }

  .btn-box {
    box-shadow: none;
    border: none;
  }

  .row-item-image {
    .cont-img {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  .btn-document {
    background: map-get($colors, primary);
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
  }

  .comment-box {
    box-shadow: none;
    border: 1px solid map-get($colors, grayColor);

    .item-row {
      .item-label {
        padding-left: 10px !important;
      }

      .custom-textarea {
        padding-left: 10px !important;
      }
    }
  }
}
