page-invoice-list {
  .char-name-main {
    .name-char {
      font-size: 30px;
    }
  }

  .row_col_icon_end {
    padding-left: 0;
    padding-right: 0;
  }

  .row_icon_end {
    font-size: 2em;
    margin: 0 auto !important;
    padding-left: 15px;
    padding-right: 15px;
  }

  .transperant-label {
    background: rgba(0,0,0,0.5);
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    .label-text {
      color: map-get($colors,whiteColor);
      margin: 0;
    }
  }

  .menu {
    font-size: 25px;

    &.right-top {
      position: absolute;
      width: 10px;
      right: 0px;
      top: 5px;
    }
  }
}
